* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(1, 1, 29);
  place-items: center;
}
.Header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  background: hsl(51, 97%, 48%);
  margin-bottom: 80px;
}
.Header img {
  float: left;
  margin-left: 0px;
  padding: 20px;
  font-size: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-left: auto;
  padding: 10px 50px;
}
a {
  color: hsl(0, 29%, 88%);
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
}

main {
  display: grid;
  grid-template:
    "a a b"
    "c d d "
    "c e e";
  gap: 8px;
  width: 50%;
  margin: auto;
}
main div {
  padding: 3em;
  border-radius: 2px;
  text-align: center;
}
.Box1 {
  background-color: orangered;
  grid-area: a;
}
.Box2 {
  background-color: yellow;
  grid-area: b;
}
.Box3 {
  background-color: green;
  grid-area: c;
}
.Box4 {
  background-color: rgb(5, 99, 128);
  grid-area: d;
}
.Box5 {
  background-color: rgb(5, 99, 128);
  grid-area: e;
}
