* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  place-items: center;
  min-height: 100vh;
}
.Header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  background: hsl(179, 100%, 13%);
  margin-bottom: 80px;
}
.Header img {
  float: left;
  margin-left: 0px;
  padding: 20px;
  font-size: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-left: auto;
  padding: 10px 50px;
}
a {
  color: hsl(0, 29%, 88%);
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
 margin: auto;
}
img {
  width: 30px;
  margin: 10px;
  height: 20px;
  margin-left: 40px;
}
h2 {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  font-family: sans-serif;
  margin: 10px 30px;
  margin-left: 24px;
}
p {
  font-family: Helvetica;
  font-size: 12px;
  color: #fff;
  padding: 10px;
  margin: 10px ;
  margin-left: 24px;
}
.sedan {
  background-color: hsl(31, 77%, 52%);
}
.sedan button {
  align-content: center;
  border: 2px solid transparent;
  padding: 10px 30px;
  margin: 24px;
  margin-top: 10x;
  background: #fff;
  font-size: 14px;
  border-radius: 25px;
  color: hsl(31, 77%, 52%);
}
.sedan button:hover {
  background: transparent;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
}
.suv {
  background-color: hsl(184, 100%, 22%);
}
.suv button {
  align-content: center;
  border: 2px solid transparent;
  padding: 10px 30px;
  margin: 24px;
  margin-top: 18px;
  background: #fff;
  font-size: 14px;
  border-radius: 25px;
  color: hsl(184, 100%, 22%);
}
.suv button:hover {
  background: transparent;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}
.luxury button {
  align-content: center;
  border: 2px solid transparent;
  padding: 10px 30px;
  margin: 24px;
  margin-top: 20px;
  background: #fff;
  font-size: 14px;
  border-radius: 25px;
  color: hsl(179, 100%, 13%);
}
.luxury button:hover {
  background: transparent;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 425px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
}
